
<%if user_signed_in?%>
<h1>Jobs</h1>
<div id="posts" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<div class="container text-end">
  <div class="row text-end">
    <div class="col text-end">
    </div>
    <div class="col text-end">
      <%if @pagy.pages >= 1 %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <%end%>
    </div>
  </div>
</div>
<%else%>
<h1>Jobs</h1>
<h4>Ask the administrator to create your account and remember to update your profile picture.</h4>
<h4>Admin: walarcon@gmail.com password: 123456</h4>
<h4>User: bgarces@gmail.com password: 123456</h4>

<% end%>