<h2 class="mx-3 mb-3">Create a new user</h2>
<form action="/crear_nuevo_usuario" method="post" class="mx-3 mb-3">
  <label for="email" class="form-label" >email:</label>
  <input type="text" id="email" name="email" class="form-control" ><br>
  <label for="password" class="form-label">password:</label>
  <input type="text" id="password" name="password" class="form-control"><br>
  <label for=":password_confirmation" class="form-label">password_confirmation:</label>
  <input type="text" id=":password_confirmation" name=":password_confirmation" class="form-control"><br>
  <label for=":name" class="form-label">name:</label>
  <input type="text" id=":name" name="name" class="form-control"><br>
  <label for=":avatar" class="form-label">avatar:</label>
  <input type="file" id=":avatar" name=":avatar" class="form-control"><br>
  <input type="submit">
</form>
